---
import type { 
    DisplaySettingsFragment, OptiFormsDiUrlElement } from '../../../../__generated/sdk';
import type { ContentPayload } from '../../../graphql/shared/ContentPayload';

// https://daisyui.com/components/input/


export interface Props {
    data: OptiFormsDiUrlElement;
    contentPayload: ContentPayload;
    displaySettings: DisplaySettingsFragment[];
    Label?: string;
    Tooltip?: string;
    Placeholder?: string;
    PredefinedValue?: string;
}
const { data, displaySettings } = Astro.props as Props;
const { Label, Tooltip, Placeholder, PredefinedValue } = data;

// Generate a unique ID for the input
// const inputId = `textbox-${Math.random().toString(36).substr(2, 9)}`;
---

<fieldset class="fieldset w-full">
  <legend class="fieldset-legend text-lg font-semibold">{Label}</legend>
  <input type="url" class="input validator w-full" placeholder={Placeholder} value={PredefinedValue} 
    pattern="^(https?://)?([a-zA-Z0-9]([a-zA-Z0-9-].*[a-zA-Z0-9])?.)+[a-zA-Z].*$"
    title="Must be valid URL" />
  <!-- <p class="validator-hint">Must be valid URL</p> -->
</fieldset>
