---
import type { 
    DisplaySettingsFragment, OptiFormsDiTextboxElement } from '../../../../__generated/sdk';
import type { ContentPayload } from '../../../graphql/shared/ContentPayload';

// https://daisyui.com/components/input/


export interface Props {
    data: OptiFormsDiTextboxElement;
    contentPayload: ContentPayload;
    displaySettings: DisplaySettingsFragment[];
    Label?: string;
    Tooltip?: string;
    Placeholder?: string;
    AutoComplete?: string;
    PredefinedValue?: string;
    Validators?: any;
}
const { data, displaySettings } = Astro.props as Props;
const { Label, Tooltip, Placeholder, AutoComplete, PredefinedValue } = data;

// Generate a unique ID for the input
// const inputId = `textbox-${Math.random().toString(36).substr(2, 9)}`;
---

<fieldset class="fieldset w-full">
  <legend class="fieldset-legend text-lg font-semibold">{Label}</legend>
  <input type="text" class="input w-full" placeholder={Placeholder} value={PredefinedValue} />
  <!-- <p class="label">Optional</p>  -->
</fieldset>
