---
// https://daisyui.com/components/select/

import type { 
    DisplaySettingsFragment, OptiFormsDiSelectionElement } from '../../../../__generated/sdk';
import type { ContentPayload } from '../../../graphql/shared/ContentPayload';

export interface Props {
    data: OptiFormsDiSelectionElement;
    contentPayload: ContentPayload;
    displaySettings: DisplaySettingsFragment[];
    Label?: string;
    Tooltip?: string;
    AllowMultiSelect?: boolean;
    AutoComplete?: string;
    // Options
    // Validators
}
const { data, displaySettings } = Astro.props as Props;
const { Label, Tooltip, AllowMultiSelect, AutoComplete } = data;

// Generate a unique ID for the input
// const inputId = `textbox-${Math.random().toString(36).substr(2, 9)}`;
---

<fieldset class="fieldset w-full">
  <legend class="fieldset-legend text-lg font-semibold">{Label}</legend>
  <select class="select w-full">
    <option disabled selected>{Tooltip}</option>
    <option>Chrome</option>
    <option>FireFox</option>
    <option>Safari</option>
  </select>
</fieldset>
